@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto+Slab|Roboto:400,900&display=swap');

/* Global Styles */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Abril Fatface', cursive;
  --body-font: 'Roboto Slab', serif;
  --main-font-color-dark: #173753;
  --secondary-font-color: #FFBC42;
  --body-font-color: #515151;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

/* Header Styles */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), transparent);
}

.nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  color: #fff;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1000;
}

.fa-times {
  display: none;
}

.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--main-font-color-dark);
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 800;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.nav::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 600;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.open .nav::before {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  border-bottom: 2px solid rgba(255,255,255, 0.3);
}

.nav-link {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color.5s;
}

.nav-link:hover {
  color: var(--secondary-font-color);
}

/* Hero Styles  */
.hero {
  width: 100%;
  height: 100vh;
  background: url('/images/hero.png') center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.sub-headline {
  font-size: 8.5rem;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
}

.first-letter {
  text-transform: uppercase;
  font-size: 10.3rem;
}

.headline {
  color: #fff;
  font-size: 4rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
}

.seperator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  max-width: 18.5rem;
  height: 0.25rem;
  background-color: #fff;
  position: relative;
}

.line-right::before,
.line-left::before  {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.6rem solid transparent;
}

.line-right::before {
  border-right-color: #fff;
  right: 0;
}

.line-left::before {
  border-left-color: #fff;
  left: 0;
}

.asterisk {
  font-size: 1.2rem;
  color: var(--secondary-font-color);
  margin: 0 1.6rem;
}

.headline-description h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
  margin-right: -3px;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}

.cta-btn {
  font-size: 1.5rem;
  background-color: #fff;
  padding: 0.9rem 1.8rem;
  color: var(--body-font-color);    border-radius: 0.4rem;
  transition: background-color 0.5s;
}

.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: var(--secondary-font-color);
}

/* About Us */
.global-headline {
  text-align: center;
  margin-top: 3.9rem;
}

.about-us .global-headline {
  margin-top: 6.9rem;
}

.global-headline .asterisk {
  color: var(--body-font-color);
  margin: 2.4rem 0;
}

.headline-dark {
  color: var(--main-font-color-dark);
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
}

.global-headline .sub-headline {
  letter-spacing: -1px;
  line-height: 0.42;
}

.company-info {
  text-align: center;
}

.company-description {
  margin-top: 3rem;
}

.company-description p {
  line-height: 1.6rem;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}

.body-btn {
  font-size: 1.5rem;
  color: var(--secondary-font-color);
  position: relative;
  transition: color 0.5s;
}

.body-btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-font-color);
  transition: background-color 0.5s;
}

.body-btn:hover,
.body-btn:focus {
  color: var(--main-font-color-dark);
}

.body-btn:hover::before,
.body-btn:focus::before {
  background-color: var(--main-font-color-dark);
}

/* Our Services */
.our-services {
  background-color: #F26E79;
}

.our-services-description {
  color: #fff;
  margin: 2.4rem 0;
}

.service h3 {
  font-style: var(--secondary-font);
  font-weight: 600;
  color:var(--secondary-font-color);
  font-size: 2.3rem;
  margin: 1rem 0 0.6rem;
}

.services-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.service {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.service1 i,
.service1 h3,
.service1 .cta {
  color: #00C0FD;
}

.service1:hover {
  border: 2px solid #00C0FD;
}

.service2 i,
.service2 h3,
.service2 .cta {
  color: #3C5D93;
}

.service2:hover {
  border: 2px solid #3C5D93;
}

.service3 i,
.service3 h3,
.service3 .cta {
  color: #FFBC42;
}

.service3:hover {
  border: 2px solid #FFBC42;
}

.service .cta span {
  font-size: 0.6rem;
}

.service > * {
  flex: 1 1 100%;
}

.service .cta {
  align-self: flex-end;
}

/* Qknow */

/* Contact Us */
.contact-us {
  background-color: #00C0FD;
}

.contact-box {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea,
#contact button[type="submit"] {
  font-weight:400;
  font-size: 1.5rem;
}

#contact {
	background:#F9F9F0;
	padding:25px;
	margin:50px 0;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  width:100%;
  background-color: #00C0FD;
  color: #fff;
}

#contact button[type="submit"]:hover {
  background:#fff;
  color: #00C0FD;

	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/* Footer styles  */
footer {
  padding: 7.9rem 0;
  background-color: #121212;
  color: #fff;
  text-align: center;
  position: relative;
}

.back-to-top {
  width: 7rem;
  height: 7rem;
  background-color: #121212;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.back-to-top i {
  display: block;
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
  animation: up 2s infinite;
}

.footer-content {
  overflow: hidden;
}

.footer-content h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}

.footer-content .asterisk {
  margin: 2.4rem 0;
}

.footer-content-about {
  margin-bottom: 5.4rem;
}

.footer-content-about p {
  line-height: 2;
}

.social-icons {
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}

.social-icons i {
  font-size: 2rem;
  color: #fff;
  padding: 0.8rem 2rem;
  opacity: 0.5;
  transition: color 0.5s;
}

.social-icons i:hover,
.social-icons i:focus {
  color: var(--secondary-font-color);
}

/* Media Queries */
@media all and (min-width:900px) {
  section {
    padding: 7.9rem;
}
  .menu-toggle {
      display: none;
  }
  .nav {
      justify-content: space-between;
  }
  .nav-list {
      position: initial;
      width: initial;
      height: initial;
      background-color: transparent;
      padding: 0;
      justify-content: initial;
      flex-direction: row;
      transform: initial;
      transition: initial;
  }
  .nav-item {
      margin: 0 2.4rem;
      border-bottom: none;
  }
  .nav-item:last-child {
      margin-right: 0;
  }
  .nav-link {
      font-size: 1.3rem;
  }

  .active {
      position: relative;
  }
  .active::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      left: 0;
      bottom: -3px;
  }
  .first-letter {
      font-size: 12.2rem;
  }
  .headline {
      font-size: 4.7rem;
      letter-spacing: 0.8rem;
  }
  .line {
      max-width: 20rem;
  }
  .company-info {
      display: flex;
      align-items: center;
  }
  .company-info > div {
      flex: 1;
  }
  .padding-right {
      padding-right: 7rem;
  }

  .services-grid {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    }

    .qknow .company-description {
      order: 2;
    }

    .qknow .company-info-img{
      order: 1;
    }

  .contact-box {
    max-width:800px;
    width:100%;
    margin:0 auto;
    position:relative;
  }

  .footer-content {
      max-width: 77.5rem;
      margin: auto;
  }
  .footer-content-about {
      max-width: 51.3rem;
      margin: 0 auto 5.4rem;
  }

}